/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(240, 58, 58);
  padding: 30px;
}
.container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
  border: #000000;
}
.container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.container .cover::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #354457;
  opacity: 0.5;
  z-index: 100;
}
.container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #354457;
  opacity: 0.5;
  z-index: 100;
  transform: rotateY(180deg);
}
.container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 12;
  backface-visibility: hidden;
}
.container .cover .back .backImg{
  transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.container .cover .text{
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
}
.cover .back .text .text-1,
.cover .back .text .text-2{
  transform: rotateY(180deg);
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.container .forms{
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #354457;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #354457;
}
.form-content .input-box i{
  position: absolute;
  color: #354457;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #e92626;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #354457;
}
.forms .form-content label{
  color: #170f21;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.container #flip{
  display: none;
}
@media (max-width: 730px) {
  .container .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .container #flip:checked ~ .forms .login-form{
    display: none;
  }
}

.admin-button{
  display: inline-block;
  padding: 0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
}

.admin-button.hover{
  color: rgb(240, 58, 58);
  border-color: aqua;
}

.admin-button.active{
  color: rgb(240, 58, 58);
  border-color: aqua;
}
@media all and (max-width:30em){
  .admin-button{
    display: block;
    margin:0.4em auto;
  }
}


a.button4{
  display:inline-block;
  padding:0.7em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  /* border-radius: 0.12em; */
  box-sizing: border-box;
  text-decoration:none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  font-weight:300;
  color:#fffefe;
  /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
  text-align:center;
  transition: all 0.2s;
  padding-left: 50px ;
  padding-right: 50px;
  border-radius: 10px;
  /* border-color: black;
  border-style: solid; */
  background-color: #e92626;
}
a.button4:hover{
  border-color: rgba(255,255,255,1);
  text-decoration: none;
}
@media all and (max-width:30em){
  a.button4{
   display:block;
   margin:0.2em auto;
  }
}

.button-center {
  margin: 0;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.divider{
  width:100px;
  height:auto;
  display:inline-block;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 200px;
  padding-top: 20px; */
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 30px;
}

.main-header {
  text-align: center;
  background: rgb(226, 202, 202);
  color: rgb(0, 0, 0);
  padding: 12px;
  border-radius: 10px;
  /* border-color: black; */
  /* border-style: solid; */
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container{
  padding-top : 100px;
  padding-bottom: 100px;
  background-color: rgb(226, 202, 202);
  /* background: url("../images/bg-1.jpeg") no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200%;
}


.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.circle-img{
  border-color: #000000;
  border-style: solid;
}

/* ... (Your existing styles) */

.container {
  display: flex;
  align-items: center;
}

.forms {
  width: 70%; /* Adjust as needed */
}

.side-image {
  flex: 1; /* Take remaining space */
  text-align: center;
}

.side-image img {
  max-width: 100%; /* Make sure the image doesn't exceed the container width */
}

