name: Run Tests On Push
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3.7.17
        uses: actions/setup-python@v1
        with:
          python-version: 3.7.17
      - name: Install dependencies
        working-directory: ./backend
        run: |
          pip install -r requirements.txt
          echo requirements installed
        
      - name: Run tests
        working-directory: ./UnitTesting
        run: |
          python -m unittest test_app.py
